<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
  </head>
  <body>
    <div class="padre">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"><img src="../images/logo-dark-128x32(1).png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./product">Añadir producto</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Accesorios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="./vistas">Cascos</a>
                  <a class="dropdown-item" href="./vistas">Protectores</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="./vistas">Guantes</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./users" tabindex="-1" aria-disabled="true">Registro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./listauser">Usuarios</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <a href="#" class="btn btn-default btn-lg active" role="button">Clientes</a>
            </form>
          </div>
        </nav>
  
        <div class="container-fluid fondo">
            <div class="row">
                <div class="col-12">
                    <div imgFondo>
                      <!-- <img src="./CSS/img/pruebafondo.jpg" alt="" class="fondo"> -->
                      <span class="texto1">TU VIAJE COMIENZA AQUI</span>
                  </div>
                </div>
            </div>
        </div>
        
       
  
        <div class="container-fluid centrar">
            <div class="row ajustar">
                <div class="col-4">
                  <div class="card" style="width: 18rem;">
                      <img src="../images//casco.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Cascos</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="./vistas" class="btn btn-dark">Ir a cascos</a>
                      </div>
                    </div>
                </div>
                <div class="col-4">
                  <div class="card" style="width: 18rem;">
                      <img src="../images//ropa.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Ropa de motero</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="./vistas" class="btn btn-dark ">Ir a ropa</a>
                      </div>
                    </div>  
                </div>
                <div class="col-4">
                  <div class="card" style="width: 18rem;">
                      <img src="../images//botas.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Botas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="./vistas" class="btn btn-dark">Ir a botas</a>
                      </div>
                    </div>
                </div>
                <!-- <div class="col-3">
                  <div class="card" style="width: 18rem;">
                      <img src="../images/accesorios.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Accesorios</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="./vistas" class="btn btn-dark">Ir a accesorios</a>
                      </div>
                    </div>
                </div> -->
            </div>
        </div>


       <div class="container-fluid color">
         <div class="row footer">
           <div class="col-12">
            <footer class="page-footer blue darken-3">
              <div class="container">
                <div class="row">
                  <div class="col l6 s12">
                    <h5 class="white-text">Motos XL</h5>
                    
                    <p class="grey-text text-lighten-4">Motos XL</p>
                    <p class="grey-text text-lighten-4">Calle Falsa 123</p>
                    <p class="grey-text text-lighten-4">Málaga</p>
                    <p class="grey-text text-lighten-4">NN17 2NJ</p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                             <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Lessons</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Testimonials</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                     
                    </ul>
                  </div>
                </div>
              </div>
              <div class="footer-copyright">
                <div class="container">
                © 2020 Motos XL Ltd
                <a class="grey-text text-lighten-4 right" href="#!">Legible Website</a>
                </div>
              </div>
              <div class="social">
                <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline"> 
                  
                  <li> <a href="#"><i class="fa fa-instagram"></i></a> </li> 
                 
                  <li> <a href="#"><i class="fa fa-google-plus"></i></a> </li> 
                  <li> <a href="#"><i class="fa fa-twitter"></i></a></li> 
                  <li> <a href="#"><i class="fa fa-linkedin"></i></a></li> 
                  <li> <a href="#"><i class="fa fa-facebook"></i></a></li>  
                  <li> <a href="#"><i class="fa fa-youtube"></i></a></li> 
                     
                </ul>
              </div>
            </footer>
           </div>
           
         </div>
       </div>
        

  </div>
  
  
  
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
