<!DOCTYPE html>
<html>

<head>

  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <link rel="stylesheet" href="/css/styl.css">
  <link rel="stylesheet" href="/css/form.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="background: #1a1b1c;">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="../images/logo-dark-128x32(1).png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Añadir producto</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Accesorios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="./vistas">Cascos</a>
            <a class="dropdown-item" href="./vistas">Protectores</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="./vistas">Guantes</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./users" tabindex="-1" aria-disabled="true">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./listauser">Usuarios</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="form_wrapper">
    <div class="form_container">
      <div class="title_container">
        <h2>Añadir producto </h2>
      </div>
      <div class="row clearfix">
        <div class="">
          <form action="/product" method="post" enctype="multipart/form-data">
          <div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
              <input type="text" name="name_product" placeholder="nombre producto" class="input"   />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="text" name="brand" placeholder="marca" class="input"   />
            </div>
            
            
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="number" name="price" placeholder="precio" class="input"   />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="number" name="stock" placeholder="stock" class="input"   />
              </div>
            
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <input type="text" name="description" placeholder="descripcion" class="input"   />
            </div>
            <div class="input"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                <input type="file" name="myFile" placeholder="imagen"   />
            </div>
            <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
              <!-- <input type="text" name="type" placeholder="tipo"   /> -->
              <select name="type" class="input">
                <option value="value1">Casco</option> 
                <option value="value2" selected>Equipamiento</option>
                <option value="value3">Ropa</option>
              </select>
            </div> 
            <input class="button" type="submit"  />
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>